.vscode/c_cpp_properties.json
extract.exe
main.exe
rank.exe
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
data/image_0072.jpg
data/image_0073.jpg
data/image_0074.jpg
data/image_0075.jpg
data/image_0080.jpg
data/image_0081.jpg
data/image_0082.jpg
data/image_0083.jpg
data/pyramid.jpg
data/image_0001 (2).jpg
data/image_0001 (3).jpg
data/image_0001 (4).jpg
data/image_0001.jpg
data/image_0002 (2).jpg
data/image_0002 (3).jpg
data/image_0002 (4).jpg
data/image_0002 (5).jpg
data/image_0002.jpg
data/image_0003 (2).jpg
data/image_0003 (3).jpg
data/image_0003 (4).jpg
data/image_0003.jpg
data/image_0004 (2).jpg
data/image_0004 (3).jpg
data/image_0004 (4).jpg
data/image_0004 (5).jpg
data/image_0004.jpg
data/image_0005 (2).jpg
data/image_0005 (3).jpg
data/image_0005 (4).jpg
data/image_0005.jpg
data/image_0006 (2).jpg
data/image_0006 (3).jpg
data/image_0006 (4).jpg
data/image_0006.jpg
data/image_0007 (2).jpg
data/image_0007 (3).jpg
data/image_0007 (4).jpg
data/image_0007.jpg
data/image_0008 (2).jpg
data/image_0008 (3).jpg
data/image_0008 (4).jpg
data/image_0008 (5).jpg
data/image_0008.jpg
data/image_0009 (2).jpg
data/image_0009 (3).jpg
data/image_0009 (4).jpg
data/image_0009 (5).jpg
data/image_0009.jpg
data/image_0010 (2).jpg
data/image_0010 (3).jpg
data/image_0010 (4).jpg
data/image_0010 (5).jpg
data/image_0010.jpg
data/image_0011 (2).jpg
data/image_0011 (3).jpg
data/image_0011 (4).jpg
data/image_0011 (5).jpg
data/image_0011.jpg
data/image_0012 (2).jpg
data/image_0012 (3).jpg
data/image_0012 (4).jpg
data/image_0012 (5).jpg
data/image_0012.jpg
data/image_0013 (2).jpg
data/image_0013 (3).jpg
data/image_0013 (4).jpg
data/image_0013 (5).jpg
data/image_0013.jpg
data/image_0014 (2).jpg
data/image_0014 (3).jpg
data/image_0014 (4).jpg
data/image_0014 (5).jpg
data/image_0014.jpg
data/image_0015 (2).jpg
data/image_0015 (3).jpg
data/image_0015 (4).jpg
data/image_0015 (5).jpg
data/image_0015.jpg
data/image_0016 (2).jpg
data/image_0016 (3).jpg
data/image_0016 (4).jpg
data/image_0016 (5).jpg
data/image_0016.jpg
data/image_0017 (2).jpg
data/image_0017 (3).jpg
data/image_0017 (4).jpg
data/image_0017 (5).jpg
data/image_0017.jpg
data/image_0018 (2).jpg
data/image_0018 (3).jpg
data/image_0018 (4).jpg
data/image_0018 (5).jpg
data/image_0018.jpg
data/image_0019 (2).jpg
data/image_0019 (3).jpg
data/image_0019 (4).jpg
data/image_0019 (5).jpg
data/image_0019.jpg
data/image_0020 (2).jpg
data/image_0020 (3).jpg
data/image_0020 (4).jpg
data/image_0020 (5).jpg
data/image_0020.jpg
data/image_0021 (2).jpg
data/image_0021 (3).jpg
data/image_0021 (4).jpg
data/image_0021 (5).jpg
data/image_0021.jpg
data/image_0022 (2).jpg
data/image_0022 (3).jpg
data/image_0022 (4).jpg
data/image_0022 (5).jpg
data/image_0022.jpg
data/image_0023 (2).jpg
data/image_0023 (3).jpg
data/image_0023 (4).jpg
data/image_0023.jpg
data/image_0024 (2).jpg
data/image_0024 (3).jpg
data/image_0024 (4).jpg
data/image_0024 (5).jpg
data/image_0024.jpg
data/image_0025 (2).jpg
data/image_0025 (3).jpg
data/image_0025 (4).jpg
data/image_0025 (5).jpg
data/image_0025.jpg
data/image_0026 (2).jpg
data/image_0026 (3).jpg
data/image_0026 (4).jpg
data/image_0026.jpg
data/image_0027 (2).jpg
data/image_0027 (3).jpg
data/image_0027 (4).jpg
data/image_0027 (5).jpg
data/image_0027.jpg
data/image_0028 (2).jpg
data/image_0028 (3).jpg
data/image_0028 (4).jpg
data/image_0028 (5).jpg
data/image_0028.jpg
data/image_0029 (2).jpg
data/image_0029 (3).jpg
data/image_0029 (4).jpg
data/image_0029 (5).jpg
data/image_0029.jpg
data/image_0030 (2).jpg
data/image_0030 (3).jpg
data/image_0030 (4).jpg
data/image_0030 (5).jpg
data/image_0030.jpg
data/image_0031 (2).jpg
data/image_0031 (3).jpg
data/image_0031 (4).jpg
data/image_0031 (5).jpg
data/image_0031.jpg
data/image_0032 (2).jpg
data/image_0032 (3).jpg
data/image_0032 (4).jpg
data/image_0032 (5).jpg
data/image_0032.jpg
data/image_0033 (2).jpg
data/image_0033 (3).jpg
data/image_0033 (4).jpg
data/image_0033 (5).jpg
data/image_0033.jpg
data/image_0034 (2).jpg
data/image_0034 (3).jpg
data/image_0034 (4).jpg
data/image_0034 (5).jpg
data/image_0034.jpg
data/image_0035 (2).jpg
data/image_0035 (3).jpg
data/image_0035 (4).jpg
data/image_0035 (5).jpg
data/image_0035.jpg
data/image_0036 (2).jpg
data/image_0036 (3).jpg
data/image_0036 (4).jpg
data/image_0036 (5).jpg
data/image_0036.jpg
data/image_0037 (2).jpg
data/image_0037 (3).jpg
data/image_0037 (4).jpg
data/image_0037 (5).jpg
data/image_0037.jpg
data/image_0038 (2).jpg
data/image_0038 (3).jpg
data/image_0038 (4).jpg
data/image_0038 (5).jpg
data/image_0038.jpg
data/image_0039 (2).jpg
data/image_0039 (3).jpg
data/image_0039 (4).jpg
data/image_0039.jpg
data/image_0040 (2).jpg
data/image_0040 (3).jpg
data/image_0040 (4).jpg
data/image_0040 (5).jpg
data/image_0040.jpg
data/image_0041 (2).jpg
data/image_0041 (3).jpg
data/image_0041 (4).jpg
data/image_0041 (5).jpg
data/image_0041.jpg
data/image_0042 (2).jpg
data/image_0042 (3).jpg
data/image_0042 (4).jpg
data/image_0042 (5).jpg
data/image_0042.jpg
data/image_0043 (2).jpg
data/image_0043 (3).jpg
data/image_0043 (4).jpg
data/image_0043 (5).jpg
data/image_0043.jpg
data/image_0044 (2).jpg
data/image_0044 (3).jpg
data/image_0044 (4).jpg
data/image_0044 (5).jpg
data/image_0044.jpg
data/image_0045 (2).jpg
data/image_0045 (3).jpg
data/image_0045 (4).jpg
data/image_0045 (5).jpg
data/image_0045.jpg
data/image_0046 (2).jpg
data/image_0046 (3).jpg
data/image_0046 (4).jpg
data/image_0046.jpg
data/image_0047 (2).jpg
data/image_0047 (3).jpg
data/image_0047 (4).jpg
data/image_0047.jpg
data/image_0048 (2).jpg
data/image_0048 (3).jpg
data/image_0048 (4).jpg
data/image_0048 (5).jpg
data/image_0048.jpg
data/image_0049 (2).jpg
data/image_0049 (3).jpg
data/image_0049 (4).jpg
data/image_0049 (5).jpg
data/image_0049.jpg
data/image_0050 (2).jpg
data/image_0050 (3).jpg
data/image_0050 (4).jpg
data/image_0050 (5).jpg
data/image_0050.jpg
data/image_0051 (2).jpg
data/image_0051 (3).jpg
data/image_0051 (4).jpg
data/image_0051 (5).jpg
data/image_0051.jpg
data/image_0052 (2).jpg
data/image_0052 (3).jpg
data/image_0052 (4).jpg
data/image_0052 (5).jpg
data/image_0052.jpg
data/image_0053 (2).jpg
data/image_0053 (3).jpg
data/image_0053 (4).jpg
data/image_0053.jpg
data/image_0054 (2).jpg
data/image_0054 (3).jpg
data/image_0054 (4).jpg
data/image_0054.jpg
data/image_0055 (2).jpg
data/image_0055 (3).jpg
data/image_0055 (4).jpg
data/image_0055.jpg
data/image_0056 (2).jpg
data/image_0056 (3).jpg
data/image_0056 (4).jpg
data/image_0056.jpg
data/image_0057 (2).jpg
data/image_0057 (3).jpg
data/image_0057 (4).jpg
data/image_0057.jpg
data/image_0058.jpg
data/image_0059.jpg
data/image_0060.jpg
data/image_0061.jpg
data/image_0062.jpg
data/image_0063.jpg
data/image_0064.jpg
data/image_0065.jpg
data/image_0066.jpg
data/image_0067.jpg
data/image_0068.jpg
data/image_0069.jpg
data/image_0070.jpg
data/image_0071.jpg
data/image_0076.jpg
data/image_0077.jpg
data/image_0078.jpg
data/image_0079.jpg
data/image_0084.jpg
data/image_0085.jpg
test/chair.jpg
test/dolphin.jpg
test/plane.jpg
test/umbrella.jpg
test/watch.jpg
a.mat
wall.png
.gitignore
miluve.py
main.cpp
__pycache__/ft.cpython-36.pyc
main.cpp
.gitignore
